name: Go

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  golangci-lint-version: v1.46.2

jobs:
  build:
    name: Build, test and lint
    runs-on: ubuntu-latest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5.0.1
      with:
        go-version: 1.22.4
        cache-dependency-path: ./go.sum

    - name: Build
      run: go build .

    - name: Test
      run: go test ./...

    - name: Install tools
      run: go build .

    - name: Lint
      run: make lint

    - name: Check Format
      run: make fmt && git diff --exit-code .
